.objetivo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 900px;
  margin-top: 32px;
  margin-left: 12px;
  margin-right: 12px;
}

.objetivo p {
  font-size: 1.1em;
}

.sobreImagemDiretia {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  margin-top: 50px;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.sobreImagemDiretia img {
  width: 400px;
  padding-left: 32px;
}

.sobreImagemEsquerda {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  margin-top: 50px;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.sobreImagemEsquerda img {
  width: 400px;
  padding-right: 32px;
}

.conteudoSobre {
  display: flex;
  flex-direction: column;
}

.Content {
  padding-top: 32px;
}

@media (max-width: 600px) {
  .conteudoSobre {
    padding-left: 12px;
    padding-right: 12px;
  }

  .sobreImagemEsquerda {
    align-items: flex-start;
    flex-direction: column;
    max-width: 350px;
  }

  .sobreImagemDiretia {
    align-items: flex-start;
    flex-direction: column-reverse;
    max-width: 350px;
  }

  .sobreImagemEsquerda img {
    width: 300px;
    margin-bottom: 16px;
    padding: 0px;
    padding-left: 12px;
  }

  .sobreImagemDiretia img {
    width: 300px;
    margin-bottom: 16px;
    padding: 0px;
    padding-left: 12px;
  }
}