table{
    border-style: hidden;
    margin: auto;
}
tr{
    background-color: aqua;
}

.divPai{
    text-align: center;
    border: 1cm;
    padding: 10px 25px;
}


.container{
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    width: 57vw;
    margin-right: 21vw;
    
}
.introducaoPaises{
    display: flex;
    width: 42vw;
    height: 4vw;
    margin-top: -15vw;
    padding: 2vw;
    margin-left: 46vw;
    align-items: center;
    margin-bottom: 30px;
}
.container2{
    margin-top: 16vw;
    text-align: center;
}
h1{
    font-weight: 0.5vw;
    align-items: center;
    
}
.imagem{
    width: 30vw;
    height: 20vw;
    padding: 10px 25px;
}
h4{
    width: 32vw;
    height: 4vw;
    align-items: center;
}
h3{
    margin-top: 4vw;
}