* {
  margin: 0;
  padding: 0;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
}

.tema {
  text-align: center;
  font-size: 3.1vw;
  color: rgb(255, 94, 0);
  font-weight: bold;

}

.divMae {
  height: 500px;
  width: 100%;
  padding: 80px 0;
  background-image: url("../../assets/img/imgHome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -0px -230px;
  /* background-color: blueviolet; */
  /* background-image: linear-gradient(to right,
  white,
  azure 
  ); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.divMae .container {
  width: 100%;
  margin: 20vw;
}

.divMae .container .content {
  margin-bottom: 2rem;
}

.divMae h2 {
  font-size: 3rem;
}

.divMae h2, p {
  max-width: 465px;
}

.divMae p span {
  color: #ff5e00;
  font-weight: bold;
}

.divMae p {
  margin-top: 32px;
}

.iconeSite {
  width: 12vw;
  height: 15vw;
}

.blocoEsquerdoPrincipall {
  margin: auto;
  display: table-caption;
}

.blocoDireitoPrincipal {
  display: table;
  margin-top: -10vw;
  margin-left: 17vw;
}

.link {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.90rem;
  color: blue;

}

.font {
  width: 14vw;
  height: 2vw;
}

.perguntaIntrodutoria {
  text-align: center;
}

.comentario {
  max-width: 690vw;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 6px;
  font-size: 1.10vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  background-color: white;
}

.bloco1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bloco2 {
  margin: 1vw;
  padding: 1vw;
  overflow-y: hidden;
}

.perguntaIntrodutoria {
  color: rgb(255, 94, 0);
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

.introducao {
  text-align: center;
  display: inline-block;
  width: 40vw;
  height: 3vw;
  margin: auto;
  padding: 2vw;
  margin-left: 25vw;
  align-items: center;
}

.blocosenta {
  display: inline;
  cursor: pointer;
}

.seta {
  width: 9vw;
  height: 7vw;
  border-radius: 3.3vw;
  margin-left: 12vw;
  margin-block: -2vw;
}

.intro2 {
  text-align: center;
  background-color: rgb(241, 97, 1);
  width: 20vw;
  height: 24vw;
  margin: auto;
  padding: 2vw;
  margin-block: 6vw;
}

.intro3 {
  text-align: center;
  background-color: rgb(199, 4, 238);
  width: 20vw;
  height: 24vw;
  margin: auto;
  padding: 2vw;
  margin-block: 6vw;
}

.aceno {
  width: 12vw;
  height: 13vw;
}

.pergunta {
  text-align: center;
  font-weight: bold;
}

.face {
  width: 17vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  cursor: pointer;

}

#front {
  transform: rotateY(180deg);
}

#back {
  background-color: rgb(0, 0, 0);
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}

#card {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  transition: all .5s;
}

h4 {
  margin: auto;
}

.colunao {
  margin: 10vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/*Extra small devices (portrait phones, menor que 576px)*/
@media (max-width: 575.98px) {
  .colunao {
    flex-direction: column;
  }
  .coluna1 {
    margin-bottom: 5rem;
  }

  .divMae {
    background-position: -200px;
  }

  .divMae h2 {
    font-size: 2rem;
  }
  
  .divMae p {
    margin-top: 16px;
  }
  
  .divMae .container {
    width: 100%;
    margin: 20px;
  }

  .buttons {
    margin-top: 20px;
  }

  .rodapeMarcas {
    display: none;
  }

  .gridContainer{
    /* CONTAINER PRINCIPAL */
   grid-template-areas: 
   "mainContent"
   "sidebarContent";
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
  }
}

@media (min-width: 600px) {
  .divMae {
    background-position: 0px;
  }
}

@media (min-width: 768px) {
  .divMae {
    background-position: 0px;
  }
}

@media (min-width: 1250px) {
  .divMae {
    background-position: 0px -210px;
  }
}

.gridContainer{
  /* GRIDCONTAINER É O CONTAINER PRINCIPAL DO CODIGO */
  display: grid;
  grid-template-columns: 3fr 1fr; /* define os 3 frames da esquerda e mais 1 da direita */
  grid-template-areas: "mainContent sidebarContent";
  padding: 20px;
  flex: 1 0 auto;
}

.rodapeMarcas {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-self: center;
}

.buttons {
  margin-top: 50px;
  width: 100%;
}

/* buttonRight */
.buttonRight {
  align-items: center;
  background-color: #fff;
  border: none;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonRight:focus {
  color: #171e29;
}

.buttonRight:hover {
  border-color: #ff5e00;
  color: #ff5e00;
  fill: #ff5e00;
}

.buttonRight:active {
  border-color: #ff5e00;
  color: #ff5e00;
  fill: #ff5e00;
}

@media (min-width: 768px) {
  .buttonRight {
    min-width: 170px;
  }
}

/* buttonLeft */
.buttonLeft {
  align-items: center;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonLeft:focus {
  color: #ff5e00;
}

.buttonLeft:hover {
  border-color: #ff5e00;
  color: #ff5e00;
  fill: #ff5e00;
}

.buttonLeft:active {
  border-color: #ff5e00;
  color: #ff5e00;
  fill: #ff5e00;
}

@media (min-width: 768px) {
  .buttonLeft {
    min-width: 170px;
  }
}